/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links {
    display: flex;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #333; /* Dark background color */
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth transition for background color */

}

.button:hover {
    background-color: #28556b; /* Darker background color on hover */
    text-decoration: none;
}

#search {
    display: flex;
    align-items: center;
    margin-right: -40px; /* Add margin to push the search box to the right */
}

#searchBox {
    position: relative;
}

input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000; /* Black border */
    padding-left: 5px; /* Space for the magnifying glass icon */
    background-color: #ffffff; /* Dark background color */
    color: #fff; /* White text color */
}

#searchIcon {
    position: absolute;
    top: 50%;
    left: -25px; /* Adjust the left position as needed */
    transform: translateY(-50%);
    cursor: pointer;
}

#searchIcon:hover {
    color: #28556b; /* Darker purple color on hover */
}

#searchBox input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000;
    padding-left: 5px;
    background-color: #ffffff;
    color: #333; /* Change text color to a darker shade */
}

#content {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profileInfo {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
}

#Bio {
    text-align: center;
    margin-bottom: 20px;
}

#newBio {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    background-color: #ffffff; /* Add a background color for better visibility */
    color: #333; /* Adjust text color to a darker shade */
}

#updateBio {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #28556b;
    color: #ffffff; /* Change text color to white */
    cursor: pointer;
}

#bioText {
    line-height: 1.6;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #eee;
    padding: 20px;
    border-radius: 10px; /* Adjust border-radius if needed */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    width: 200px; /* Set a fixed width for the posts */
    height: 200px; /* Set a fixed height for the posts */
}

#logout {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #28556b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#name {
    font-size: 24px; /* Adjust the font size as needed */
    text-align: center;
    text-transform: capitalize; /* Capitalize the first letter */
    margin-bottom: 10px; /* Add some space below the username */
}

#getFriendsButton {
    padding: 10px 20px;
    margin: 20px auto;
    display: block; /* Center button in the div */
    text-align: center;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#getFriendsButton:hover {
    background-color: #28556b;
    transform: scale(1.05); /* Slightly enlarge on hover */
}
